.scrollbar-custom {
  scrollbar-color: #9ca3af transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}
